/* NAVIGATION */
.searchForm {
	max-width: 200px;
	float: left;
}

@media screen and (max-width: 1199px){
	.navbar ul {
		margin-left: 20px !important;
	}
}

@media screen and (max-width: 991px){
	.navbar ul {
		margin-left: 0 !important;
	}
}

@media screen and (max-width: 768px){
	.searchForm {
		margin: 10px 0 20px !important;
		float: none;
	}

	.navbar li {
		width: 100%;
	}

	.sendpulse-backdrop-info .backdrop-close {
		top: 60px !important;
		right: 10px !important;
	}
}


/* SEARCH */
.content--search table, 
.content--search tbody, 
.content--search tr, 
.content--search td {
    display: block;
    width: 100%;
}

/* PAGE PROMOCODE */
.page {
	padding: 45px 0;
}

.page__section {
	margin-bottom: 60px;
}

.page__title {
	font-size: 48px;
	font-weight: bold;
	line-height: 1.43;
	margin-bottom: 60px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.page__title::after {
	background-color: #ff6e0e;
	bottom: -20px;
	content: "";
	height: 4px;
	left: 50%;
	margin-left: -50px;
	position: absolute;
	width: 100px;
}

.page__btn {
	background: #f06b30;
	border-bottom: 3px solid #9c3f1c;
	padding: 8px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: .5s;
	margin-top: 30px;
}

.page__btn:focus,
.page__btn:hover {
	background: #e74c3c;
	border-bottom: 3px solid #c0392b;
	box-shadow: 0 0 55px 0 rgba(231, 76, 60, .7);
	color: #fff;
}

.typography {
	line-height: 1.43;
}

.typography p {
	margin-bottom: 15px;
}

.typography small {
	font-size: 75%;
	color: #aaa;
}


@media screen and (max-width: 767px){
	.page__title {
		font-size: 30px;
	}
}

/* PAGE PROMO */
.page__section--promocode {
	border: 5px solid #1f1f1f;
	max-width: 900px;
	margin: 0 auto 60px;
	border-radius: 2px;
	padding: 30px;
}

.page__section--promocode .page__body {
	max-width: 330px;
	margin: 0 auto;
}

.promo-code {
	text-align: center;
	font-size: 18px;
}

.promo-code__input {
	font-size: 24px;
	margin-bottom: 8px;
	max-width: 100%;
	padding: 8px 16px !important;
	text-align: center;
}

@media screen and (max-width: 767px){
	.page__section--promocode {
		padding: 0;
		border: none;
	}

	.page__title {
		font-size: 30px;
	}
}


/* PAGE REVIEW */
.page__section--social {
	text-align: center;
}

.page__section--review .page__body {
	padding: 0 30px;
}

.owl-video {
	max-width: 900px;
	margin: 0 auto;
}

.owl-video .owl-nav {
	position: absolute;
	top: 50%;
	margin-top: -32px;
	width: 100%;
}

.owl-video .owl-prev {
	position: absolute;
	left: -60px;
}

.owl-video .owl-next {
	position: absolute;
	right: -60px;
}

.owl-video .owl-prev span, 
.owl-video .owl-next span {
	font-size: 128px;
	color: #444;
}

.owl-video .item {
	height: 160px;
}

.owl-video .item iframe {
	width: 100%;
	height: 100%;
}

.owl-social {
	max-width: 600px;
	margin: 0 auto;
}

.owl-social .owl-nav {
	position: absolute;
	top: 50%;
	margin-top: -32px;
	width: 100%;
}

.owl-social .owl-prev {
	position: absolute;
	left: -60px;
}

.owl-social .owl-next {
	position: absolute;
	right: -60px;
}

.owl-social .owl-prev span,
.owl-social .owl-next span {
	font-size: 128px;
	color: #444;
}

.owl-item.active {
	border: 0;
}

@media screen and (max-width: 1199px){
	.owl-video {
		max-width: 600px;
	}
}

@media screen and (max-width: 991px){
	.page__section--review .page__body {
		padding: 0;
	}
}

@media screen and (max-width: 768px){
	.page__section--video {
		margin-bottom: 105px;
	}

	.owl-social .owl-nav, .owl-social .owl-nav,
	.owl-video .owl-nav, .owl-social .owl-nav {
		margin: 0;
		top: auto;
		bottom: -25px;
	}

	.owl-social .owl-prev,
	.owl-video .owl-prev {
		top: 0;
		left: 15px;
	}

	.owl-social .owl-next,
	.owl-video .owl-next {
		top: 0;
		right: 15px;
	}
}

/* PAGE FREE */
.free-social-title {
	font-size: 24px;
	font-style: italic;
	margin-bottom: 30px;
	font-weight: bold;
}

@media screen and (max-width: 991px){
	h1.free-h1 {
		font-size: 64px !important;
	}

	h1.free-h1 span {
		border-width: 5px !important;
	}

	.free-text {
		font-size: 18px !important;
	}

	.free-social-title {
		font-size: 18px;
	}

	.free-social a {
		width: 100px !important;
		height: 100px !important;
		font-size: 36px !important;
		line-height: 96px !important;
	}

	.free-social a::after {
		width: 5px !important;
	}
}

@media screen and (max-width: 767px){
	.free-content {
		padding: 15px !important;
	}

	a.free-link {
		font-size: 24px !important;
		margin: 15px 0 !important;
		padding: 8px 16px !important;
	}

	h1.free-h1 {
		font-size: 24px !important;
	}

	h1.free-h1 span {
		border-width: 3px !important;
	}

	.free-text {
		font-size: 14px !important;
		line-height: 1.43 !important;
		margin-bottom: 15px !important;
	}

	.free-social a {
		width: 60px !important;
		height: 60px !important;
		font-size: 24px !important;
		line-height: 56px !important;
		margin: 5px !important;
	}

	.free-social a::after {
		display: none !important;
	}
}